{% extends 'base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}

<h1 class="display-4">{{ user.username}}'s page</h1>
<p>Name: {{ user.first_name}} {{ user.last_name}}</p>
<p>Email: {{ user.email}}</p>

<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

<a href=""></a>
<ul>
  {% for note in notes %}
  <li><a formaction="/notes/{{ note.id }}/update">{{ note.title }}</a>
    <p>{{ note.content }}</p>
    <a formmethod="POST" formaction="/notes/{{ note.id }}/delete" class="btn btn-danger">Delete</a>
  </li>
  {% endfor %}
</ul>


{% endblock %}