{% extends 'base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}

<h1 class="display-4">{{ user.username}}'s page</h1>
<p>Name: {{ user.first_name}} {{ user.last_name}}</p>
<p>Email: {{ user.email}}</p>

<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

<br><br>

<ul class="bg-secondary rounded p-3">
  {% for note in notes %}
  <li>
    <p><b>{{ note.title }}</b></p>
    <p>{{ note.content }}</p>
    <button class = "btn btn-primary" formaction="/notes/{{ note.id }}/update">Edit Note</button>
    <button formmethod="POST" formaction="/notes/{{ note.id }}/delete" class="btn btn-danger">Delete</button>
  </li>
  {% endfor %}
</ul>

<a href="/users/{{ user.username }}/notes/add" class="btn btn-primary">Add A Note</a>

<br><br><br>

<form >
  {{ form.hidden_tag() }}
<button formmethod="POST" formaction="/users/{{ user.username }}/delete" class="btn btn-danger">Delete Account</button>
</form>

{% endblock %}