{% extends 'base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}

<h1 class="display-4">{{ user.username}}'s page</h1>
<p>Name: {{ user.first_name}} {{ user.last_name}}</p>
<p>Email: {{ user.email}}</p>

<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

<a href=""></a>
<ul>
  {% for note in notes %}
  <li><button formaction="/notes/{{ note.id }}/update">{{ note.title }}</button>
    <p>{{ note.content }}</p>
    <a formmethod="POST" formaction="/notes/{{ note.id }}/delete" class="btn btn-danger">Delete</a>
  </li>
  {% endfor %}
</ul>

<a href="/users/{{ user.username }}/notes/add" class="btn btn-primary">Add A Note</a>

<br><br><br>

<form >
  {{ form.hidden_tag() }}
<a formmethod="POST" formaction="/users/{{ user.username }}/delete" class="btn btn-danger">Delete Account</a>
</form>

{% endblock %}